.form-control {
	margin: 2em 0 1.3em;
}

#agregar-boton {
	margin-bottom: 1.5em;
}




@media only screen and (max-width: 575px) {
	.form-control {
		margin-bottom: -1.2em;
	}
	#agregar-boton {
		margin-top: 2.5em;
		margin-bottom: 2em;
	}
}